@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">NW-GridSight</h1>
    <p>Regional Power Infrastructure Dashboard</p>
    <p>Under Contstruction...</p>
</div>
